language: python
python:
    - "3.4"
    - "3.3"
    - "3.2"
    - "2.7"
    - "pypy"
install: "pip install -e .[test]"
script: make test
before_install:
    pip install codecov
after_success:
    codecov
