Source: compoundpi
Maintainer: Dave Hughes <dave@waveform.org.uk>
Homepage: http://compoundpi.readthedocs.org/
Section: graphics
Priority: extra
Build-Depends: debhelper (>=8), python-all (>= 2.7), python-setuptools, python-docutils, python-sphinx (>= 1.0.7+dfsg-1~)
Standards-Version: 3.9.3
X-Python-Version: >= 2.7

Package: compoundpi-common
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-ipaddr
Suggests: compoundpi-docs
Description: multi-camera capture system - common files.
 Compound Pi is a system for controlling camera modules attached to multiple
 Raspberry Pis all connected to the same local subnet. It consists of a server
 component which runs on the Raspberry Pis, and a client component which can
 run on any architecture.
 .
 This package provides files common to both the server and client components of
 the project.

Package: compoundpi-server
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, compoundpi-common (>= ${binary:Version}), python-picamera, python-rpi.gpio, python-daemon
Description: multi-camera capture system - server component.
 Compound Pi is a system for controlling camera modules attached to multiple
 Raspberry Pis all connected to the same local subnet. It consists of a server
 component which runs on the Raspberry Pis, and a client component which can
 run on any architecture.
 .
 This package provides the server component of the project.

Package: compoundpi-client
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, compoundpi-common (>= ${binary:Version}), python-qt4
Description: multi-camera capture system - client component.
 Compound Pi is a system for controlling camera modules attached to multiple
 Raspberry Pis all connected to the same local subnet. It consists of a server
 component which runs on the Raspberry Pis, and a client component which can
 run on any architecture.
 .
 This package provides the client component of the project.

Package: compoundpi-docs
Architecture: all
Section: doc
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Description: multi-camera capture system - documentation.
 Compound Pi is a system for controlling camera modules attached to multiple
 Raspberry Pis all connected to the same local subnet. It consists of a server
 component which runs on the Raspberry Pis, and a client component which can
 run on any architecture.
 .
 This is the component-independent documentation for the package.
