#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1
export DH_OPTIONS

%:
	dh $@ --with python2,sphinxdoc --buildsystem=python_distutils

override_dh_auto_install:
	# Perform a full installation in all three packages
	python setup.py install --root debian/compoundpi-common --install-layout=deb
	python setup.py install --root debian/compoundpi-server --install-layout=deb
	python setup.py install --root debian/compoundpi-client --install-layout=deb
	# Strip out all the source from the client/server packages
	rm -fr debian/compoundpi-client/usr/lib
	rm -fr debian/compoundpi-server/usr/lib
	rm -fr debian/compoundpi-client/usr/share/pyshared
	rm -fr debian/compoundpi-server/usr/share/pyshared
	# Strip out binaries as necessary
	rm debian/compoundpi-common/usr/bin/cpi
	rm debian/compoundpi-common/usr/bin/cpid
	rm debian/compoundpi-common/usr/bin/cpigui
	rm debian/compoundpi-server/usr/bin/cpi
	rm debian/compoundpi-server/usr/bin/cpigui
	rm debian/compoundpi-client/usr/bin/cpid
	# Correct path of cpid to /usr/sbin
	mv debian/compoundpi-server/usr/bin debian/compoundpi-server/usr/sbin

override_dh_auto_test:
	# Don't run the tests!

override_dh_installdocs:
	python setup.py build_sphinx -b html
	dh_installdocs

override_dh_installinit:
	dh_installinit --name=cpid

